<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/web.css">
    <script defer src="../static/javaScript/web.js"></script>
</head>
<body>
    
    
    <nav>
        <h1><em> Elvi </em></h1>
        <h2><em> Choose your next meal</em></h2>
        <ul>  
            <li> <a href="Home.html"> Home </a> </li>
            <li> <a href="Sign Up.html"> Sign Up </a> </li>
            <li> <a href="Search.html"> Search </a> </li>
        </ul>
    </nav>

<div class="containAll">
        <main>
            <section> 
                <div class="box"> 
                    <div class="title"><h2> About us</h2></div>
                    <div class="aboutUs"> Elvi is a user-friendly website that makes it 
                        simple for people to find and book the best restaurants in their 
                        area. <br>
                        With its intuitive interface and powerful search 
                        functionality, users can easily filter results based on 
                        their location, budget, and cuisine preferences. <br>
                        Whether you're in the mood for Italian, Chinese, or israeli food, 
                        Elvi has something for everyone. And with its secure booking 
                        system, you can make reservations with confidence, knowing that 
                        your personal information is safe. <br>
                        So if you're looking for an easy way to find and book a great restaurant, give Elvi a try today!
                    </div>
                </div>
            </section>
        </main>    
    <aside>
        <form class="LogIn">
            <h3>LogIn</h3>
            <p> <label> User Name: </label>
            <input type="email" required> </p>
            <p> <label> Password: </label>
            <input type="password" required> </p>
            <div class="button"> <button type="submit"> LogIn </button></div>
            Dont have user? <a href="Sign Up.html"> click here! </a>
        </form>
    </aside>
</div>

    <footer>
        <div class="contact">
            <a href="../"> 
                <img src="../static/picture/facebook-icon-preview-1.png">
            </a>
            <a href="../"> 
                <img src="../static/picture/Instagram-Logo-768x432.png">
            </a>
            <p>
                contact us:
                <br>
                tel:0505050505<br>
                adress: Ben Gurion University<br>
                E-Mail: ehudle@post.bgu.ac.il<br>
            </p>
            </div>
    </footer>




</body>
</html>